<template>
    <div class="card">
        <div class="card-body">
            <div class="top-row d-flex align-items-center justify-content-center">
                <div class="avatar-block__wrapper">
                    <div class="avatar-block">
                        <img :src="userData.picture.large" alt="">
                    </div>
                </div>
            </div>
            <div class="main-description">
                <ul class="list-unstyled text-left">
                    <li>Имя: {{ userData.name.title + '. ' +userData.name.first + ' ' + userData.name
                        .last }}</li>
                    <li>Пол: {{ this.translateGender(userData.gender) }}</li>
                    <li>Тел.: <a :href="'tel:' + userData.phone">{{ userData.phone }}</a></li>
                    <li>Email: <a :href="'mailto:' + userData.email">{{ userData.email }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            userData: {
                gender: String,
                name: {
                    type: Object,
                    default: () => {
                        return {
                            title: '',
                            first: '',
                            last: ''
                        }
                    }
                },
                email: String,
                phone: String,
                picture: {
                    type: Object,
                    default: () => {
                        return {
                            large: '',
                            medium: '',
                            thumbnail: ''
                        }
                    }
                }
            }
        },
        methods: {

            /**
             * @type {function}
             * @param gender
             * @description Translates genders. Better to use I18n
             *
             */
            translateGender (gender) {
                let translation = '';
                switch (gender.toLowerCase()) {
                    case 'male':
                        translation = 'мужской';
                        break;
                    case 'female':
                        translation = 'женский';
                        break;
                    default:
                        translation = '';
                        break;
                }

                return translation;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card {
        transition: all ease-in .4s;
        :hover {
            -webkit-box-shadow: 0px 0px 24px -1px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 24px -1px rgba(255,255,255,1);
            box-shadow: 0px 0px 24px -1px rgba(255,255,255,1);
        }
    }


    .top-row {
        position: relative;
        border-bottom: 2px solid rgb(131,58,180);
        height: 65px;
        margin-bottom: 60px;
        margin-right: 60px;
        margin-left: 60px;
    }

    .avatar-block__wrapper {
        position: absolute;
        top: -15px;
        padding: 2px;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 50%;
        background: rgb(131,58,180);
        background: linear-gradient(162deg, rgba(131,58,180,1) 0%, rgba(253,74,29,1) 68%, rgba(252,176,69,1) 100%);
    }

    .avatar-block {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 50%;
        width: 125px;
        height: 125px;
        -webkit-background-size: contain;
        background-size: contain;
        overflow: hidden;
    }


</style>
