<template>
    <div class="grid-wrapper">
        <div class="grid-item" v-for="user in userList">
            <card-component v-bind:userData="user"></card-component>
        </div>
    </div>
</template>

<script>
    import cardComponent from './cardComponent';
    import axios from 'axios';

    export default {
        userList: [],
        components: {
            cardComponent
        },
        data: () => {
            return{
                userList: []
            }
        },
        async mounted () {
            /**
             * @type {AxiosResponse<T>}
             * @description Raw data from random user API,
             * json format
             */
            axios.get('https://randomuser.me/api?results=10&inc=gender,name,email,phone,picture')
                .then((response) => {
                    let randomList = response.data.results;
                    this.setUserList(randomList);
                });

            this.windowScroll(this.setUserList);
        },
        methods: {

            /**
             * @type {Function}
             * @param list
             * @description Sets component data after the request
             */
            setUserList (list) {
                this.userList = list;
            },

            /**
             * @type {Function}
             * @param userList
             * @description Method to detect bottom of the window and
             * call the API request for new batch of users
             */
            windowScroll (userList) {
                window.onscroll = () => {
                    let pageBottom = document.documentElement.scrollTop +
                        window.innerHeight === document.documentElement.offsetHeight;

                    if (pageBottom) {
                        axios.get(`https://randomuser.me/api?results=10&inc=gender,name,email,phone,picture`)
                            .then((response) => {

                                /**
                                 * map new users array to add to current data
                                 */
                                response.data.results.map((item) => {
                                    this.userList.push(item);
                                });

                                /**
                                 * sort new array to drop non-uniq records if any
                                 * @type {any[]}
                                 */
                                let uniqSorted = [...new Set(this.userList)];

                                this.setUserList(uniqSorted);
                            });
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .grid-wrapper {
        width: auto;
        max-width: 500px;
        margin: 0 auto;

        .grid-item {
            margin: 15px 0;
        }
    }

</style>
