<template>
    <div class="container">
        <div id="app">
            <ListComponent/>
        </div>
    </div>
</template>

<script>
    import ListComponent from './components/userList/ListComponent'

    export default {
        name: 'App',
        components: {
            ListComponent
        }
    }
</script>
<style lang="scss">
    body {
        background: url("/src/images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    body::-webkit-scrollbar {
        width: 1em;
    }

    body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        outline: 1px solid #343a40;
    }

    #app {
        width: 100%;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 80px;
    }
</style>
